* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-family: sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #070909;
    color: white;
  }
  
  .logo-img {
    height: 60px;
    width: auto;
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }

  .container {
    width: 96%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 5% 10% 2% 10%; 
    justify-content: center;
  }

  h3 {
    text-align: center;
    font-size: 26px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  p{
    text-align: center;
    font-size: 18px;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding: 2% 5%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .feature-item {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%
  }
  
  .feature-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .feature-item h4 {
    margin-top: 15px;
    font-size: 17px;
  }
  
  .feature-item p {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 1px;
    color: #555;
    font-size: 16px;
  }
  
  .icon {
    font-size: 1.2em;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .serviceareacontainer {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
  }
  
  .column1 {
    width: 45%;
    padding-right: 4%;
  }

  .column1 img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-left: 5%;
  }

  .column2, .column3 {
    width: 23%;
    padding: 20px;
    border-radius: 10px;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
  }

/* Contact Section */
.contact-container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(237 28 37/0.9);
    margin-top: 10%;
    border-radius: 20px;
    padding: 20px;
    max-width: 1000px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #000;
    border-radius: 20px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 3px solid #ED1C25;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ED1C25;
    gap: 10px;
    border: none;  
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: #070909;
}

.footerlogo img {
  height: 10px;
  height: auto;
}

.footer .info {
    text-align: right;
}

.footer .info p {
    text-align: left;
    line-height: 1.5;
    margin: 5px 0;
    color: #fff;
    padding: 0 5px;
    font-size: 16px;
}

.footericon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    justify-content: center;
}



  
  /* 🔄 Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 5px;
      background-color: #070909;
      color: white;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 30px;
      background-color: #333;
      padding: 20px;
      border-radius: 8px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }

    .logo-img {
      height: 32px;
      width: auto;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 12px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
        padding: 0 6%;
        gap: 0;
    }

    .feature-item {
        padding: 0;
    }
    
    .feature-item img {
        display: none;
    }

    .feature-item h4 {
        font-size: 12px;
    }

    .feature-item p {
        font-size: 10px;
        margin: 2px;
    }

    .serviceareacontainer {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    .column1 {
        display: none;
    }

    .icon {
        font-size: 1.2em;
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }

    .column2, .column3 {
        flex: 1 1 25%;
        display: flex;
        justify-content: center;
        padding: 0;
        border-radius: 0;
    }

    .column2, .column3 ul {
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 10px;
    }

    .contact-container {
      display: none;
    }
    /*
    .contact-container {
        flex-direction: column;
        padding: 20px;
        margin-top: 50px;
    }

    .contact-left-title h2{
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .contact-left {
        width: 100%;
        align-items: center;
    }

    .contact-inputs {
        width: 100%;
        font-size: 14px;
    }

    .contact-left-title h2 {
        font-size: 28px;
        text-align: center;
    }

    .contact-left button {
        justify-content: center;
        width: 100%;
    }

    .contact-right img {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
    } */

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: #070909;
  }
  
  .footerlogo img {
    display: none;
  }
  
  .footer .info {
      text-align: right;
  }
  
  .footer .info p {
      text-align: left;
      line-height: 1.5;
      margin: 5px 0;
      color: #fff;
      padding: 0 5px;
      font-size: 10px;
  }
  
  .footericon {
      display: none;
  }
    
  }
